.page-album {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.album-info {
  color: #023031;
  text-align: center;
}

.album-info img {
  margin-top: 1.5rem;
  border-radius: 5%;
}

.album-info h2 {
  margin-top: 0.5rem;
  margin-bottom: 0.6rem;
}

@media only screen and (min-width: 1200px) {
  .page-album {
    flex-direction: row;
    align-items: flex-start;
  }

  .album-info img {
    margin-top: 5rem;
  }
}
