.page-album {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.album-info {
  color: #023031;
  text-align: center;
  max-width: 350px;
}

.album-info img {
  margin-top: 1.5rem;
  border-radius: 5%;
}

.album-info h2 {
  margin-top: 1rem;
  margin-bottom: 0.6rem;
}

/* .album-tracks {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 12% 0 0;
} */
@media only screen and (min-width: 1200px) {
  .page-album {
    flex-direction: row;
  }

  .album-info img {
    margin: 0;
    align-self: flex-start;
  }
}
