.login-page {
  display: flex;
  height: 90vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#rectangle {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 90%;
  padding: 3.5rem 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-logo {
  width: 9rem;
  margin-bottom: 20px;
}

#login-input {
  height: 2.1rem;
  width: 90%;
  padding: .4rem;
  margin-bottom: 1.5rem;
}

#login-btn {
  height: 2.1rem;
  width: 90%;
  color: #FFFFFF;
  background-color: #003BE5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;
}

#login-btn:hover {
  border: 1px solid #2f5cf1;
  background-color: #2f5cf1;
}

#login-btn:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

@media only screen and (min-width: 500px) {
  #rectangle {
    width: 65%;
  }
}

@media only screen and (min-width: 768px) {
  #rectangle {
    width: 55%;
  }
}

@media only screen and (min-width: 1050px) {
  #rectangle {
    width: 40%;
  }
}
