.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.user-image {
  display: flex;
  justify-content: space-between;
  width: 17rem;
  margin-bottom: 1.5rem;
}

#user-image {
  position: relative;
  width: 4.5rem;
  height: 4.5rem;
  overflow: hidden;
  border-radius: 50%;
}

.user-image input {
  max-height: 1.8rem;
  align-self: center;
  padding: 0.8rem 0.3rem;
  opacity: 0.5;
}

.form-column {
  display: flex;
  flex-direction: column;
  width: 17rem;
  margin-bottom: 1rem;
}

.form-column input, textarea {
  padding: 0.6rem 0.25rem;
  border: none;
  border-bottom: 1px solid #3D495C;
}

.form-column input:focus, textarea:focus {
  outline: none;
  background-color: #F0F2F5;
}

.form-container button {
  height: 2rem;
  width: 5rem;
  color: #FFFFFF;
  background-color: #003BE5;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
}

.form-container button:hover {
  border: 1px solid #2f5cf1;
  background-color: #2f5cf1;
}

.form-container button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

@media only screen and (min-height: 1200px) {
  .form-container {
    margin-top: -2rem;
  }
}
