.tracks-list {
  list-style-type: none;
}

.tracks {
  margin: 1.3rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tracks-list p {
  align-self: flex-start;
  text-align: start;
  margin-bottom: 0.2rem;
}

.audio-check {
  display: flex;
  align-items: center;
}

.tracks img {
  border-radius: 50%;
  transform: scale(0.9);
}

input[type="checkbox"] {
  appearance: none;
}

.hearts {
  margin: 0 1rem;
  cursor: pointer;
}

#heart-red {
  color: #fe0f42;
}

hr {
  color: #e1e5eb;
  width: 95%;
  margin: 0 auto;
  opacity: 0.4;
}

@media only screen and (min-width: 1200px) {
  .tracks-list {
    margin-top: 2rem;
  }

  .tracks {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .tracks-list p {
    align-self: center;
    margin: 0 0.4rem 0 0;
  }

  hr {
    width: 80%;
  }
}
